h1 {
    color: #f7325e;
}
h2 {
    color: #f7325e;
}
h3 {
    color: #f7325e;
}
p {
    font-family: fantasy;
}
ul {
    color: #7dc410;
    font-family: fantasy;
}
.intro {
    font-style: italic;
}
.opener {
    color: maroon;
    font-size: 18px;
}
p.opener {
    font-size: 16px;
    color: maroon;
}
li.available options {
    font-color: blue;
}
